{{#each resources.albums.data }}
{{#if cover_photo }}
<div class="col-md-3 col-sm-6">
	<a href="/{{id}}"><img src="https://graph.facebook.com/{{cover_photo}}/picture?type=album" class="img-responsive"/></a>
	<a href="/{{id}}">{{name}}</a>
	Created on: {{formatDate created_time "%B %o %Y"}}
</div>
{{/if }}
{{/each}}