{{#each resources.albums.data }}
{{#if cover_photo }}
<div class="col-md-3 col-sm-6">
	<a href="/{{id}}" class="thumb"><img src="https://graph.facebook.com/{{cover_photo}}/picture?type=normal" /></a>
	<div class="detail">
		<a href="/{{id}}">{{name}}</a>
		<p>Created on {{formatDate created_time "%b %o, %y"}}</p>
	</div>
</div>
{{/if }}
{{/each}}